<!DOCTYPE html>
<html>
	<head>
		<title>wdiEat | What Do I Eat</title>
	  <link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/csshake.min.css">
	  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.19/p5.js"></script>
	</head>
	<body>
		<!-- Make it convenient to grab user's id in views through javascript -->
		<div id="user" style="display: none"><% if (user) {%><%= JSON.stringify(user) %><%} %></div>


			<!-- navigation bar for when a session is found -->
			<nav class ="navbar navbar-default navbar-static-top" id="header-bar">
				<div class="navbar-left">
					<a id="homepage-logo" href="/">WDIEat</a>
				</div>
				<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<% if (user) {%>
							<a class="dropdown-toggle on-navbar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.local.name || user.facebook.name %><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/profile">My Favorites</a></li>
								<% if (user.local.name) {%>
									<li><a href="/profile/<%= user.id%>/edit" >Account Settings</a></li>
								<% } %>
								<li><a href="/logout">Logout</a></li>
							</ul>
						<!-- navigation bar for when no session is found -->
						<% } else {%>
							<a class="btn-md on-navbar" href="/session" class="btn btn-default btn-sm">My Favorites</a>
						<% } %>
					</li>
				</ul>
			</div>
			</nav>
		</div>
		<div class="container-fluid row">
		<%- body %>
		</div>
	</body>
</html>
