<% if (messages) { %>
  <span><%=messages%></span>
<% } %>
<div class="row">
  <div class="col-xs-4"></div>
  <div id="session-form" class="col-xs-4">
    <div id="login">
    <h3>Sign in </h3>
    <!-- <span>Enter your <strong>email address</strong> and <strong>password</strong></span> -->
    <form action="/login" method="post">
      <div class="horizontal-padding">
        <div class="form-group">
          <label>Email</label>
            <input type="text" placeholder="you@domain.suffix" name="email" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-block session-button">Sign in</button>
      </div>
    </form>

    <hr>
      <p>Don't have an account? Go <a href="#" class="switch">Sign up!</a></p>
  </div>
  <div id="signup" class="hidden">
    <h3>Sign up</h3>
    <form action="/signup" method="post">
      <div class="horizontal-padding">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="username" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="you@domain.suffix" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="password" required>
        </div>
        <button type="submit" class="btn btn-block session-button">Signup</button>
      </div>
    </form>
    <hr>
    <p>Already have an account? Go <a href="#" class="switch">Login!</a></p>
  </div>


  <hp>Or Login With <a href="/auth/facebook" class="btn btn-primary">Facebook</a></p>

  </div>

</div>
<script>
$('.switch').click(function(){
  $('#signup').toggleClass('hidden')
  $('#login').toggleClass('hidden')
})
</script>
