/*.btn-default:hover {
    background: #ffc52d;
}*/

/*general*/
span {
  font-weight: normal;
}

a {
    color: #ffa31a;
    transition: all .2s ease;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

a:hover, a:active {
    color: #ffdd8f;
    text-decoration: none;
    border-bottom: 1px solid #ffdd8f;
}


/*navigation bar and layout*/
.container-fluid {
  margin-top: 40px;
}

#header-bar {
  padding-bottom: 0px;
  background-color: rgba(68, 58, 98, 0.95);
  padding-left: 15px;
  padding-right: 20px;
}

#header-bar a{
  color: #FFFBB7;
  font-weight: bolder;
}

#header-bar .on-navbar {
  color: #FFFBB7
}

#header-bar ul li a{
  color: rgba(68, 58, 98, 1);
}

.navbar-left {
  height: 50px;
  position: relative
}

.navbar-right a{
  font-size: 16px;
}

.navbar-left a{
  padding-top: 11px;
  font-size: 20px;
  position: absolute;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: transparent;
}

/*homepage (food-images and form)*/
.food-icons:hover {
  opacity: 1;
  font-size: 12px;
}

.food-icons {
  display: inline-block;
  font-size: 0px;
  height: 110px;
  vertical-align: top;
  width: 110px;
  background-repeat: no-repeat;
  opacity: 0.4;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
  color: black;
  border-radius: 55px;
  margin: 3px;
  border: 1px solid #443862;

}

.food-icons span{
  background-color: rgba(255,255,255,0.6);
  font-weight: bolder;
}

.cuisines-options {
  display:none;
}


.active-icon {
  opacity: 1;
  font-size: 12px;
}

.flash-icon {
  opacity: 0.9;
  font-size: 0px;
}

#search-criteria label, #search-criteria h1 {
  font-weight: bolder;
  color: rgba(68, 68, 98, 1)
}

#left-padding-20 {
  padding-left: 20px;
}

#find-result, .session-button, #edit-button {
  background-color: rgba(68, 58, 98, 0.9);
  color: #FFFBB7;
  font-weight: bolder;
}

#find-result:hover, .session-button:hover, #edit-button:hover {
  color: #FFFBB7;
}

/*result and showhistory page*/

#try-again button {
  color: rgba(68, 58, 98, 0.9);
}

#restaurant-image {
  width: 100%;
}

#restaurant-name-rating h4{
  margin: 0px;
  font-weight: bold;
}

#restaurant-link-category {
  float: right;
  text-align: right;
  vertical-align: text-bottom;
}

.text-align-right {
  text-align: right;
}

#go-profile {
  color: rgba(68, 58, 98, 0.9);
}

iframe {
  width: 100%;
  border: 1px;
  float: right;
}


.padding-right-0 {
  padding-right: 0px;
}

#save-result {
  height: 16px;
  opacity: 0.4;
}

#save-result:hover{
  opacity: 1;
}

.result-name-rating a:hover {
    border-bottom: 0px;
}

/*session page*/
.hidden {
  display: none;
}

#session-form h3, #edit-form h3{
  text-align: center;
}

 #facebook-button {
  padding: 1px 5px 1px 5px;
}

#session-form span{
  margin-bottom: 5px;
}

/*profile page*/

.favorite {
  padding: 4px;
  /*border-bottom: 1px solid grey;*/
}

.favorite .restaurant-image {
  width: 80%;
  border-radius: 10%;
  float: right;
}

.favorite button {
  float: right;
  color: rgba(68, 58, 98, 0.9)
}


.favorite h4 {
  margin: 0px;
}
