#header-bar {
  padding-bottom: 0px;
  background-color: rgba(68, 58, 98, 0.95);
  padding-left: 15px;
  padding-right: 20px;
}

#header-bar a{
  color: #FFFBB7;

}

#try-again button {
  color: rgba(68, 58, 98, 0.9);
}

#go-profile {
  color: rgba(68, 58, 98, 0.9);
}

#header-bar ul li a{
  color: rgba(68, 58, 98, 1);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: transparent;
}

#search-criteria label, #search-criteria h1 {
  font-weight: bolder;
  color: rgba(68, 68, 98, 1)
}

#header-bar .on-navbar {
  color: #FFFBB7
}

.navbar-right a{
  font-size: 16px;
}

.navbar-left {
  height: 50px;
  position: relative
}

.navbar-left a{
  padding-top: 11px;
  font-size: 20px;
  position: absolute;
}
.food-icons:hover {
  opacity: 1;
  font-size: 12px;
}

.food-icons {
  display: inline-block;
  font-size: 0px;
  vertical-align: top;
  height: 110px;
  width: 110px;
  background-repeat: no-repeat;
  opacity: 0.4;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
  color: black;
  border-radius: 55px;
  margin: 3px;
  border: 1px solid #443862;
}

.food-icons span{
  background-color: rgba(255,255,255,0.6)
}

.active-icon {
  opacity: 1;
  font-size: 12px;

}

.flash-icon {
  opacity: 0.9;
  font-size: 0px;
}

span {
  font-weight: normal;
}

body {
    background-color: white;
    background-size: 450px;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: bold;
}

#restaurant-name-rating h4{
  margin: 0px;
  font-weight: bold;
}

#restaurant-link-category {
  float: right;
  text-align: right;
  vertical-align: text-bottom;
}

.text-align-right {
  text-align: right;
}
#restaurant-image {
  width: 100%
}

.btn-default {
    border-radius: 4px;
    color: #000;
    background: #ffa33a;
    border: 0;
    transition: all .5s ease;
}

.btn-default:hover {
    background: #ffc52d;
}

/*main container*/

.container {
    /*border: 1px solid black;*/
    width: 700px;
    margin-top: 60px;
    padding-bottom: 20px;
    background-color: #776666;
    /*box-shadow: inset 5px 5px 10px grey,inset -5px -5px 10px grey;*/
}



#shake {
  background-color: rgba(68, 58, 98, 0.9);
  color: #FFFBB7;
  font-weight: bolder;
}

#shake:hover {
  color: #FFFBB7;
}

#left-padding-20 {
  padding-left: 20px;
}

.container-fluid {
  margin-top: 50px;
}
.container-border {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 0px;
}


.cuisines-options {
  display:none;
}

.favorite {
  border: 2px solid grey;
  padding: 5px;
}

/*See restaraunt on Yelp link*/

a {
    color: #ffa31a;
    transition: all .2s ease;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

a:hover, a:active {
    color: #ffdd8f;
    text-decoration: none;
    border-bottom: 1px solid #ffdd8f;
}

.padding-right-0 {
  padding-right: 0px;
}

#save-result {
  height: 16px;
  opacity: 0.4;
}

#save-result:hover{
  opacity: 1;
}

.result-name-rating a:hover {
    border-bottom: 0px;
}

iframe {
  width: 100%;
  border: 1px;
  float: right;
}

/*facebook pic*/
#facebook-pic{
  width: 15px;
  height: 15px;
  margin-bottom: 1px;
}
